* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    width: 100%;
    height: 100%;
}

.bg-color-light {
    background-color: #FFF1E3;
}

.bg-color-dark {
    background-color: #F29A63;
}

.color-dark {
    color: #F29A63;
}

.color-light {
    color: #FFF1E3;
}

.font {
    font-family: "Mulish", sans-serif;
}

/* Header Start */

.menu li {
    list-style: none;
    display: inline-block;
}

.menu li a {
    color: #ffffff;
    transition: all ease-in-out .2s;
    font-family: "Mulish", sans-serif;
}

.menu li a:hover {
    color: blue;
}

.header_top_sub li a {
    color: black;
    font-family: "Mulish", sans-serif;
}

.header_top_sub li a:hover {
    color: blue;
}

.header_top_sub {
    top: 32px;
    left: -25px;
    box-shadow: 0px 0px 2px black;
    display: none;
    transition: all ease-in-out .4s;
    font-family: "Mulish", sans-serif;
}

.menu li:hover .header_top_sub {
    display: block;
}

.header_middle {
    border-bottom: 1px solid #dcdcdd;
}

.header_main_middle {
    padding-top: 2.3rem;
    padding-bottom: 2.3rem;
}

.header_middle_m {
    background-color: #f1f1f1;
    border: 2px solid #0060c8;
}

.header_middle_m select {
    font-family: "Mulish", sans-serif;
    background-color: #f1f1f1;
}

.header_middle_m select option {
    font-family: "Mulish", sans-serif;
    background-color: #ffffff;
}

.search_box input {
    border-left: 1.8px solid #dcdcdd;
    border-top: none;
    border-bottom: none;
    border-right: none;
    font-family: "Mulish", sans-serif;
    background-color: #f1f1f1;
}

.search_box input:focus {
    outline: none;
}

.search_btn1 {
    background-color: #0060c8;
}

.search_btn2 input {
    font-family: "Mulish", sans-serif;
    background-color: #0060c8;
}

.header_middle_r a {
    color: black;
    font-family: "Mulish", sans-serif;
}

.header_middle_r .icons {
    font-size: 1.5rem;
    transition: all ease-in-out .2s;
}

.header_middle_r .text span {
    color: gray;
    font-size: .85rem;
    font-family: "Mulish", sans-serif;
}

.header_middle_r .text .span1 {
    color: blue;
    font-family: "Mulish", sans-serif;
    transition: all ease-in-out .2s;
}

.header_middle_r .text p {
    font-family: "Mulish", sans-serif;
    transition: all ease-in-out .2s;
}

.header_middle_r a:hover .icons,
.header_middle_r a:hover p {
    color: #0060c8;
}

.vertical_menu_head {
    border-right: 1px solid #dcdcdd;
}

.vertical_menu_head a {
    color: black;
}

.vertical_menu_head .icons {
    font-size: 1.2rem;
    color: black;
    transition: all ease-in-out .2s;
}

.vertical_menu_head span {
    font-family: "Mulish", sans-serif;
    font-weight: 800;
    transition: all ease-in-out .2s;
}

.vertical_menu_head:hover span,
.vertical_menu_head:hover .icons {
    color: #0060c8;
}

/* .vertical_menu {
    top: 70px;
    width: 100%;
    background-color: rgb(232, 214, 189);
}

.vertical_menu ul li {
    list-style: none;
    display: flex;
    align-items: center;
} */
.main_menu ul {
    gap: 2.5rem;
}

.main_menu ul li {
    list-style: none;
    display: flex;
    align-items: center;
}

.main_menu ul li a {
    color: black;
    font-weight: 800;
    font-family: "Mulish", sans-serif;
    transition: all ease-in-out .2s;
}

.main_menu .arrow_icon {
    transition: all ease-in-out .2s;
}

.main_menu ul li:hover a,
.main_menu ul li:hover .arrow_icon {
    color: #0060c8;
}

.wishcart .icons {
    font-size: 1.7rem;
    color: black;
    transition: all ease-in-out .2s;
}

.wishcart a:hover .icons {
    color: #0060c8;
}

.top_deal {
    border-left: 1px solid #dcdcdd;
}

.main_bottom_r .top_deal a {
    color: black;
    font-weight: 800;
    font-family: "Mulish", sans-serif;
    transition: all ease-in-out .2s;
}

.main_bottom_r span {
    font-family: "Mulish", sans-serif;
    font-size: .7rem;
    font-weight: 800;
    background-color: rgba(221, 40, 49, 1);
    position: relative;
}

.main_bottom_r span::before {
    content: '';
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 4px 6px 4px 0;
    border-color: transparent rgba(221, 40, 49, 1) transparent transparent;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(-100%, -50%);
}

.main_bottom_r .top_deal:hover a {
    color: #0060c8;
}