* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    width: 100%;
    height: 100%;
}

.bg-color-light {
    background-color: #FFF1E3;
}

.bg-color-dark {
    background-color: #F29A63;
}

.color-dark {
    color: #F29A63;
}

.color-light {
    color: #FFF1E3;
}

.font {
    font-family: "Mulish", sans-serif;
}

section {
    margin-bottom: 5rem;
}

/* Header Start */

.menu li {
    list-style: none;
    display: inline-block;
}

.menu li a {
    color: #ffffff;
    transition: all ease-in-out .2s;
    font-family: "Mulish", sans-serif;
}

.menu li a:hover {
    color: #0060c8;
}

.header_top_sub li a {
    color: black;
    font-family: "Mulish", sans-serif;
}

.header_top_sub li a:hover {
    color: #0060c8;
}

.header_top_sub {
    top: 32px;
    left: -25px;
    box-shadow: 0px 0px 2px black;
    display: none;
    transition: all ease-in-out .4s;
    font-family: "Mulish", sans-serif;
}

.menu li:hover .header_top_sub {
    display: block;
}

.header_middle {
    border-bottom: 1px solid #dcdcdd;
}

/* .header_main_middle {
    padding-top: 1rem;
    padding-bottom: 1rem;
} */

.header_middle_m {
    background-color: #f1f1f1;
    border: 2px solid #0060c8;
}

.header_middle_m select {
    font-family: "Mulish", sans-serif;
    background-color: #f1f1f1;
}

.header_middle_m select option {
    font-family: "Mulish", sans-serif;
    background-color: #ffffff;
}

.search_box input {
    border-left: 1.8px solid #dcdcdd;
    border-top: none;
    border-bottom: none;
    border-right: none;
    font-family: "Mulish", sans-serif;
    background-color: #f1f1f1;
}

.search_box input:focus {
    outline: none;
}

.search_btn1 {
    background-color: #0060c8;
}

.search_btn2 input {
    font-family: "Mulish", sans-serif;
    background-color: #0060c8;
}

.header_middle_r a {
    color: black;
    font-family: "Mulish", sans-serif;
}

.header_middle_r .icons {
    font-size: 1.5rem;
    transition: all ease-in-out .2s;
}

.header_middle_r .text span {
    color: gray;
    font-size: .85rem;
    font-family: "Mulish", sans-serif;
}

.header_middle_r .text .span1 {
    color: blue;
    font-family: "Mulish", sans-serif;
    transition: all ease-in-out .2s;
}

.header_middle_r .text p {
    font-family: "Mulish", sans-serif;
    transition: all ease-in-out .2s;
}

.header_middle_r a:hover .icons,
.header_middle_r a:hover p {
    color: #0060c8;
}

.vertical_menu_head {
    border-right: 1px solid #dcdcdd;
}

.vertical_menu_head a {
    color: black;
}

.vertical_menu_head .icons {
    font-size: 1.2rem;
    color: black;
    transition: all ease-in-out .2s;
}

.vertical_menu_head span {
    font-family: "Mulish", sans-serif;
    font-weight: 800;
    transition: all ease-in-out .2s;
}

.vertical_menu_head:hover span,
.vertical_menu_head:hover .icons {
    color: #0060c8;
}

/* .vertical_menu {
    top: 70px;
    width: 100%;
    background-color: rgb(232, 214, 189);
}

.vertical_menu ul li {
    list-style: none;
    display: flex;
    align-items: center;
} */

.main_menu ul li {
    list-style: none;
    display: flex;
    align-items: center;
}

.main_menu ul li a {
    color: black;
    font-weight: 800;
    font-family: "Mulish", sans-serif;
    transition: all ease-in-out .2s;
}

.main_menu .arrow_icon {
    transition: all ease-in-out .2s;
}

.main_menu ul li:hover a,
.main_menu ul li:hover .arrow_icon {
    color: #0060c8;
}

.wishcart .icons {
    font-size: 1.7rem;
    color: black;
    transition: all ease-in-out .2s;
}

.wishcart a:hover .icons {
    color: #0060c8;
}

.main_bottom_r .top_deal a {
    color: black;
    font-weight: 800;
    font-family: "Mulish", sans-serif;
    transition: all ease-in-out .2s;
}

.main_bottom_r span {
    font-family: "Mulish", sans-serif;
    font-size: .7rem;
    font-weight: 800;
    background-color: rgba(221, 40, 49, 1);
    position: relative;
}

.main_bottom_r span::before {
    content: '';
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 4px 6px 4px 0;
    border-color: transparent rgba(221, 40, 49, 1) transparent transparent;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(-100%, -50%);
}

.main_bottom_r .top_deal:hover a {
    color: #0060c8;
}

/* Categories Section Start */

.categories {
    background-color: #f1f1f1;
}

.categories_section {
    gap: 1.9rem;
}

.categories_slider_img {
    height: 65px;
}

.categories_slider .item {
    border-radius: 10px;
    border: 1px solid transparent;
    transition: all ease-in-out .2s;
}

.categories_slider .item_text {
    color: black;
    font-family: "Mulish", sans-serif;
    font-weight: 700;
    transition: all ease-in-out .2s;
}

.categories_slider .item:hover {
    border-color: #0060c8;
}

.categories_slider .item_text:hover {
    color: #0060c8;
}

.new_arrival_slider .item_1 {
    background-color: #2C2C46;
    border-radius: 10px;
}

.new_arrival_slider .item_2 {
    background-color: #192C57;
    border-radius: 10px;
}

.new_arrival_slider .item_3 {
    background-color: #202F22;
    border-radius: 10px;
}

.new_arrival_slider_img_1 {
    background-image: url("../img/slide1-watches.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 5;
    padding: 18%;
    overflow: hidden;
}

.new_arrival_slider_img_2 {
    background-image: url("../img/slide1-ipad.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 5;
    padding: 18%;
    overflow: hidden;
}

.new_arrival_slider_img_3 {
    background-image: url("../img/slide1-iphone.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 5;
    padding: 18%;
    overflow: hidden;
}

.new_arrival_slider .item_text .deals {
    font-family: "Mulish", sans-serif;
    font-weight: 600;
    font-size: .8rem;
    background-color: #dd2831;
    border-radius: 0px 6px 6px 6px;
}

.new_arrival_slider .item_text p {
    font-family: "Mulish", sans-serif;
}

.new_arrival_slider .item_text .price {
    color: #fcc904;
}

.new_arrival_slider .shop_btn {
    color: #ffffff;
    background-color: #0060c8;
    font-family: "Mulish", sans-serif;
    font-weight: 600;
    font-size: .85rem;
    padding: .85rem 2rem;
    transition: all ease-in-out .3s;
}

.new_arrival_slider .shop_btn:hover {
    background-color: #0088FF;
}

.new_arrival_slider .owl-dots {
    position: absolute;
    bottom: 1rem;
    left: 50%;
    transform: translateX(-50%);
}

.owl-theme .owl-dots .owl-dot.active span {
    transition: all ease-in-out .3s;
}

.new_arrival_slider .owl-dots .owl-dot span {
    transition: all ease-in-out .8s;
}

.new_arrival_slider .owl-dots .owl-dot span {
    width: 12px !important;
    height: 12px !important;
}

.new_arrival_slider .owl-dots .owl-dot.active span {
    width: 35px !important;
    background: #0068C8 !important;
}

.new_arrival_slider .owl-dots .owl-dot span:hover {
    width: 35px !important;
    background: #0068C8 !important;
}

/* Ts Products Deals Section Start */

.ts_products_section {
    gap: 1.9rem;
}

.heading_left {
    border: 5px solid #0068C8;
    border-radius: 10px;
    font-family: "Mulish", sans-serif;
    margin-bottom: 2.25rem;
}

.heading_left span {
    color: #DD2B73;
    font-weight: 600;
}

.heading_left h2 {
    font-weight: 800;
}

.heading_left p {
    font-size: 1rem;
    font-weight: 600;
}

.heading_left .heading_box h3 {
    background-color: #0068C8;
    border-radius: 10px;
    padding: 1rem;
    font-family: "Mulish", sans-serif;
}

.heading_left .heading_box p {
    font-family: "Mulish", sans-serif;
    color: #848484;
}

.ts_products_slider .item {
    border: 2px solid #ebebeb;
    border-radius: 10px;
    transition: all ease-in-out .4s;
}

.ts_products_galleries {
    gap: .8rem;
}

/* .ts_products_galleries .img_box {
    padding: 0px 1.2rem;
} */

.ts_products_galleries .img_box a {
    filter: brightness(0.95) opacity(0.5);
    transition: filter 350ms ease;
}

.ts_products_galleries .img_box a img {
    border-radius: 5px;
}

#active {
    filter: none;
}

.ts_products_galleries .img_box a:hover {
    filter: none;
}

.group_btns {
    top: 5%;
    right: 2%;
    display: none;
    transition: all ease-in-out .4s;
}

.ts_products_slider .item:hover .group_btns {
    display: flex;
}

.group_btns .icons_box {
    width: 35px;
    height: 35px;
    background-color: transparent;
    border: 1px solid #dcdcdd;
    transition: all ease-in-out .2s;
}

.group_btns a .icons {
    color: rgb(86, 86, 86);
}

.group_btns .icons_box:hover {
    background-color: #E8f3fe;
}

.group_btns .wishlist_btn a span {
    font-family: "Mulish", sans-serif;
    font-size: .8rem;
    display: block;
}

.group_btns .wishlist_btn a:hover span {
    display: none;
}

.onsale_percent {
    font-family: "Mulish", sans-serif;
    font-size: .8rem;
    background-color: #0068C8;
    border-radius: 0px 6px 6px 6px;
}

.featured {
    font-family: "Mulish", sans-serif;
    font-size: .8rem;
    background-color: #dd2831;
    border-radius: 0px 6px 6px 6px;
}

.produt_category {
    color: #848484;
    font-family: "Mulish", sans-serif;
}

.product_title {
    color: black;
    font-family: "Mulish", sans-serif;
}

.ts_products_slider .item_text span {
    color: #dd2831;
    font-family: "Mulish", sans-serif;
    font-weight: 600;
}

.ts_products_slider .item_text .price,
.ts_products_slider .item_text p {
    color: #848484;
    font-family: "Mulish", sans-serif;
}

.ts_products_slider .item_text .add_btn {
    color: black;
    font-family: "Mulish", sans-serif;
    font-size: .9rem;
    border: 1px solid #0068C8;
    border-radius: 5px;
    padding: .7rem 3.3rem;
}

.ts_products_slider .item_text .produt_category:hover,
.ts_products_slider .item_text .product_title:hover {
    color: #0068C8;
}

.ts_products_slider .item_text .add_btn:hover {
    color: #ffffff;
    background-color: #0068C8;
}

.ts_products_slider .owl-dots .owl-dot span {
    width: 12px !important;
    height: 12px !important;
}

.owl-theme .owl-dots .owl-dot.active span {
    transition: all ease-in-out .3s;
}

.ts_products_slider .owl-dots .owl-dot.active span {
    width: 35px !important;
    background: #0068C8 !important;
}

/* New Features products Deals Section Start */

.new_features_products_section {
    gap: 1.2rem;
}

.features_banner {
    background-image: url("../img/features_banner.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center right;
    border-radius: 10px;
    padding: 0;
}

.new_product_banner {
    background-image: url("../img/new_product_banner.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bootom center;
    border-radius: 10px;
}


@media (max-width:797px) {
    .features_banner {
        background-image: url("../img/features_banner1.jpg");
        background-size: cover;
        background-position: center center;
    }

    .new_product_banner {
        background-position: center center;
        padding-bottom: 6rem;
    }
}

@media (max-width:992px) {
    .features_banner {
        background-image: url("../img/features_banner1.jpg");
        background-position: center right;
        padding-bottom: 6rem;
    }
}

@media (max-width:1200px) {
    .features_banner {
        background-position: center center;
    }

    .new_product_banner {
        background-position: top bottom;
    }
}

.features_banner .text_box span {
    font-family: "Mulish", sans-serif;
    color: #dd2831;
}

.features_banner .text_box span strong {
    font-family: "Mulish", sans-serif;
    font-weight: 800;
}

.features_banner .text_box h1 {
    font-family: "Mulish", sans-serif;
    font-weight: 800;
}

.features_banner .text_box p {
    font-family: "Mulish", sans-serif;
}


.features_banner .shop_btn {
    color: #ffffff;
    background-color: #0060c8;
    font-family: "Mulish", sans-serif;
    font-weight: 800;
    font-size: .85rem;
    padding: .85rem 2rem;
    border: none;
    transition: all ease-in-out .3s;
}

.features_banner .shop_btn:hover {
    background-color: #ffffff;
    color: #0068C8;
}

.new_product_banner .text_box .deals {
    font-family: "Mulish", sans-serif;
    font-weight: 600;
    font-size: .8rem;
    background-color: #dd2831;
    border-radius: 0px 6px 6px 6px;
}

.new_product_banner .text_box h1 {
    font-family: "Mulish", sans-serif;
    font-weight: 500;
}

.new_product_banner .text_box p {
    font-family: "Mulish", sans-serif;
    color: #0068C8;
    font-weight: 700;
}